.menu__content {
  display: flex;
  flex-wrap: wrap;
  //   overflow: hidden;
  align-items: center;

  .menu__header {
    // position: relative;
    // left: 0px;
    z-index: 2;
    margin-right: 5px;
  }

  .filter__item {
    width: auto;
    margin: 0px 5px;
  }
}

// .menu__button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.close-button__wrapper {
  h1 {
    margin-bottom: 0px;
  }
}
