.menu__wrapper {
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  //   align-items: center;
}

main {
  padding: 50px;
}

p {
  margin: 20px;
}

.filter-button {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-color: teal;
}

// .filter-button:before {
//   content: '';
//   position: absolute;
//   top: 0;
//   width: 30px;
//   height: 2px;
//   background-color: black;
// }

// .filter-button:after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   width: 30px;
//   height: 2px;
//   background-color: black;
// }
